<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class='logoImg' alt="Logo" src="../assets/logov1.png" />
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navlist nav navbar-nav navbar-right">
        <li id="custom-nav"><a  ng-click="signout()">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main page template -->

<div ng-model='loading'>
	<h3>{{loading}}</h3>
</div>					  

<div class="container-fluid" style="margin-top: 50px">
  <!-- start nav row -->
  <div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6">
			<!-- All Student Tickets --> 
			<h1>Submit Help Desk Request</h1>	
			<!-- Form for submitting new tickets -->
			<form autocomplete="off" name="input-group" ng-submit="addTicket()" style="margin-top:0px">
			  <label class="locationtext" for="select" placeholder="Select your location"></label>
			    <select name="select" class="form-control" ng-model="ticket.location" required style="margin-bottom: 5px">
	          <option value="Lecture Hall">Lecture Hall</option> <!-- x: 25-190; y: 50-100-->
	          <option value="Pairing Station">Pairing Station</option> <!-- x: 25-190; y: 140-210 -->
	          <option value="Kitchen">Kitchen</option><!-- x: 25-190 ; y: 240-320 -->
	          <option value="Couch">Couch</option><!-- x: 250-370  ; y: 230-325 -->
	          <option value="Senior Zone">Senior Zone</option><!-- x: 270-370 ; y: 370-610 -->
	          <option value="The Hopper">The Hopper</option><!-- x: 25-160 ; y: 470-550 -->
	          <option value="The Dijkstra">The Dijkstra</option><!-- x: 25-160 ; y: 590-655 -->
	          <option value="The Ada">The Ada</option><!-- x: 290-370 ; y: 655-760 -->
	          <option value="Entrance Hall">Entrance Hall</option><!-- x: 25-260 ; y: 690-760 -->
			    </select>			    
			    <textarea rows="4" cols="50" name="ticket" type="text" ng-model="ticket.message" class="form-control" placeholder="Enter your question here" style="margin-bottom:6px"required></textarea>
			    <input class="submit btn btn-secondary" type="submit" value="Add" ng-disabled="!ticket.location" style="float:right">
			</form>
			<br />
			<br />	
			<h1>My Tickets</h1>	
			<div ng-repeat="ticket in data.tickets | filter: {solved: false} | orderBy:'-id'" class="ticket-primary">
		    <!-- Renders each ticket to the queue -->
		    	<span class="glyphicon glyphicon-remove" style="color:#979797; float:right" ng-click="solveTicket(ticket)"></span>
					<!-- Username & TimeStamp Table -->
					<table>
	      		<tr>
	      			<td style="vertical-align: top;">
	      				<h5 ng-bind="ticket.user.displayname || ticket.user.username" style="margin-right: 7px;  padding-top:0px; margin-top:0px"></h5>
	      			</td>
	      			<td style="vertical-align: top">
	      				<p style="color:#AFB8BA; padding-top:0px; margin-top:0px" class="list-group-item-text" ng-bind="ticket.createdAt"></p>
	      				<div id="{{ticket.id}}" class="newMessage" >New Message</div>
	      			</td>
	      		</tr>	        		
	      	</table>
					
					<!-- Ticket Message Table -->       		        
        	<table style="width: 100%">
        		<tr>
        			<td style="vertical-align: top; width:70%">
	        			<p class="list-group-item-text" ng-bind="ticket.message"></p>	
        				
        				<!-- Location Table -->       		        
        				<table class="claimed-table">
			        		<tr style="width: 100%">
			        			<td>
			        				<p class="list-group-item-text primary-font" style="margin-right:3px">Located in </p> 
			        			</td>
			        			<td>
			        				<p class="list-group-item-text primary-font" ng-bind="ticket.location"></p>		
			        			</td>
			        		</tr>
			        	</table>
        			</td>
        			<td style="width:30%;">
	        			<table class="claimed-table" style="width: 100%">
				        		<tr>
				        			<td style="float:right">
				        				<button class=" btn btn-primary-inverted" ng-show="ticket.claimed" type="button" ng-click='getTicket(ticket)'">Chat</button>	

				        				<button class="btn btn-primary" type="button" ng-show="!ticket.solved" ng-click="solveTicket(ticket)">Solved</button>
				        			</td>     			
			        			</tr>
	        			</table>			        	
        			</td>	        			
        		</tr>
        	</table>	      	
		  </div>  	  	
	  </div>
	  <div class="col-md-3"></div>
	</div>
</div>

				  	 
		        	
			   