<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class='logoImg' alt="Logo" src="../assets/logov1.png" />
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navlist nav navbar-nav navbar-right">
        <li id="custom-nav"><a  ng-click="signout()">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Main page template -->

<div id="big-container">

  <!-- Tickets Student --> 
	<div id="queueContainer">
		<div>
			<!-- Form for submitting new tickets -->
			<form autocomplete="off" name="input-group" ng-submit="addTicket()">
			  <label class="locationtext" for="select"> Select your location: </label>
			    <select name="select" class="form-control" ng-model="ticket.location" required>
	          <option value="Lecture Hall">Lecture Hall</option> <!-- x: 25-190; y: 50-100-->
	          <option value="Pairing Station">Pairing Station</option> <!-- x: 25-190; y: 140-210 -->
	          <option value="Kitchen">Kitchen</option><!-- x: 25-190 ; y: 240-320 -->
	          <option value="Couch">Couch</option><!-- x: 250-370  ; y: 230-325 -->
	          <option value="Senior Zone">Senior Zone</option><!-- x: 270-370 ; y: 370-610 -->
	          <option value="The Hopper">The Hopper</option><!-- x: 25-160 ; y: 470-550 -->
	          <option value="The Dijkstra">The Dijkstra</option><!-- x: 25-160 ; y: 590-655 -->
	          <option value="The Ada">The Ada</option><!-- x: 290-370 ; y: 655-760 -->
	          <option value="Entrance Hall">Entrance Hall</option><!-- x: 25-260 ; y: 690-760 -->
			    </select>
			    <input name="ticket" type="text" ng-model="ticket.message" placeholder="Enter your question here" required/>
			    <input class="submit btn-default" type="submit" value="Add" ng-disabled="!ticket.location">
			</form>
			<br />
			<br />

			<div ng-model='loading'>
				<h3>{{loading}}</h3>
			</div>
		  <div ng-repeat="ticket in data.tickets | filter: {solved: false} | orderBy:'-id' " ng-click='getTicket(ticket)'>
		    <!-- Renders each ticket to the queue -->
		    <a class="list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}">

        	<h5 ng-bind="ticket.user.displayname || ticket.user.username"></h5>
        	<button class="deleteb" type="button" ng-show="ticket.ismine && !ticket.preSolved" ng-disabled="ticket.claimed" ng-click="solveTicket(ticket)">Delete</button>
        	<button class="solv" type="button" ng-show="ticket.preSolved && ticket.ismine" ng-click="solveTicket(ticket)">Solved</button>
        	<button class="unsolv" type="button" ng-show="ticket.preSolved && ticket.ismine" ng-click="unsolveTicket(ticket)">Not Solved</button>
       		<p class="list-group-item-text" ng-bind="ticket.message"></p>
       		<div class="newMessage">New Message</div>
		   	</a>
		  </div>
		</div>
	</div>
</div>
