<!-- BODY CONTAINER -->
<div class=" container-fluid" >
	<div class='logoq'>
    <img class='logoimgq' alt="Logo" src="/../../logo.png" /></div>
    <button type='button' class='btn btn-default' ng-click='sendToForm()'>Add Fellow</button>
    <button type="button" class="signout btn btn-default" ng-click="signout()">Sign out</button>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
	
	<div ng-model='loading'>
		<h3>{{loading}}</h3>
	</div>
	
  <!-- start body content row -->
  <div class="row">
    <div class="col-md-4">
      <!-- Open Tickets queue -->
      <h1 style="color:#fff">Open Tickets</h1>
      <div>				
			  <div ng-click='getTicket(ticket)' ng-repeat="ticket in data.tickets | filter: {claimed: false} | orderBy:'-id' " >
			    <!-- Renders each open ticket-->
			    <a class="list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}" ng-mouseover = 'showDot(ticket.x, ticket.y)' x = {{ticket.x}} y ={{ticket.y}}>

	        	<h5 ng-bind="ticket.user.displayname || ticket.user.username"></h5>
	        	<button class="claimb" type="button" ng-show="!ticket.claimed" ng-click="claimTicket(ticket)">Claim</button>
	        	<button class="deleteb" type="button" ng-show="ticket.ismine && !ticket.preSolved" ng-disabled="ticket.claimed" ng-click="solveTicket(ticket)">Delete</button>
	        	<button class="solv" type="button" ng-show="ticket.preSolved && ticket.ismine" ng-click="solveTicket(ticket)">Solved</button>
	        	<!-- <button class="unsolv" type="button" ng-show="ticket.preSolved && ticket.ismine" ng-click="unsolveTicket(ticket)">Not Solved</button> -->
	       		<p class="list-group-item-text" ng-bind="ticket.message"></p>
	       		<p class="list-group-item-text" ng-bind="ticket.createdAt"></p>
					</a>
				</div>
			</div>			
    </div>
    <div class="col-md-4">
      <h1 style="color:#fff">Claimed Tickets</h1>		  
		  <div>	
			  <div ng-click='getTicket(ticket)' ng-repeat="ticket in data.tickets | filter: {claimed: true, solved: false}| orderBy:'-id' ">
			    <!-- Renders each ticket to the queue -->
			    <a class="list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}" ng-mouseover = 'showDot(ticket.x, ticket.y)' x = {{ticket.x}} y ={{ticket.y}}>

	        	<h5 ng-bind="ticket.user.displayname || ticket.user.username"></h5>
	        	<button class="deleteb" type="button" ng-show="ticket.ismine && !ticket.preSolved" ng-disabled="ticket.claimed" ng-click="solveTicket(ticket)">Delete</button>
	        	<button class="solv" type="button" ng-show="ticket.preSolved && ticket.ismine" ng-click="solveTicket(ticket)">Solved</button>
	        	<!-- <button class="unsolv" type="button" ng-show="ticket.preSolved && ticket.ismine" ng-click="unsolveTicket(ticket)">Not Solved</button> -->
	       		<p class="list-group-item-text" ng-bind="ticket.message"></p>
	       		<p class="list-group-item-text" ng-bind="ticket.createdAt"></p>
			   	</a>
			  </div>
			</div>
    </div>
    <div class="col-md-4">
      <h1 style="color:#fff">Closed Tickets</h1>
			<div ng-click='getTicket(ticket)' ng-repeat="ticket in data.tickets | filter: {solved: true}  | orderBy:'-id' ">
		    <!-- Renders each ticket to the queue -->
		    <a class="list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}" ng-mouseover = 'showDot(ticket.x, ticket.y)' x = {{ticket.x}} y ={{ticket.y}}>

        	<h5 ng-bind="ticket.user.displayname || ticket.user.username"></h5>
        	<!-- <button class="deleteb" type="button" ng-show="ticket.ismine && !ticket.preSolved" ng-disabled="ticket.claimed" ng-click="solveTicket(ticket)">Delete</button> -->
       		<p class="list-group-item-text" ng-bind="ticket.message"></p>
       		<p class="list-group-item-text" ng-bind="ticket.createdAt"></p>
		   	</a>
		  </div>
    </div>
  </div>
  <!-- end body content row -->
</div>
