<!-- 	<div ng-model='loading'>
		<h3>{{loading}}</h3>
	</div> -->

<!-- BODY CONTAINER -->
<div class="container-fluid" style="margin-top: 50px">
  <!-- start nav row -->
  <div class="row">
	  <div class="col-md-6">
	    <div class="col-md-2"></div>
	    <div class="col-md-1">
	    	<img alt="Logo" src="../assets/logov1.png" />
	    </div>
	    <div class="col-md-9"></div>
	  </div>
	  <div class="col-md-6">
		  <div class="col-md-7"></div>
	    <div class="col-md-3">
	    	<!-- <a class='btn btn-default' href='/#/addFellow'>AddFellow -->
	    	<button type='button' class='btn btn-default' ng-click='sendToForm()'>Add Fellow</button>
	    	<button type="button" class="signout btn btn-default" ng-click="signout()">Sign out</button>
	    </div>    
	    <div class="col-md-2"></div>
	  </div>
  </div>
	<!-- end nav row -->

	<!-- start body content row -->
  <div class="row" style="margin-top:20px">
    <div class="col-md-6">
    	<div class="col-md-1"></div>
    	<div class="col-md-11">
				<!-- Open Tickets queue -->
	      <h1>Open Tickets</h1>
	      <div style="margin-top: 10px">				
				  <div ng-repeat="ticket in data.tickets | filter: {claimed: false} | orderBy:'-id' " class="ticket-primary">
				    <!-- Renders each open ticket-->
						<!-- 		    <a class="list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}" ng-mouseover = 'showDot(ticket.x, ticket.y)' x = {{ticket.x}} y ={{ticket.y}}> -->

		        	<table>
		        		<tr>
		        			<td style="vertical-align: top;">
		        				<h5 ng-bind="ticket.user.displayname || ticket.user.username" style="margin-right: 7px;  padding-top:0px; margin-top:0px"></h5>
		        			</td>
		        			<td style="vertical-align: top">
		        				<p style="color:#AFB8BA; padding-top:0px; margin-top:0px" class="list-group-item-text" ng-bind="ticket.createdAt"> </p>
		        			</td>
		        		</tr>	        		
		        	</table>	        		        
		        	<table class="location-table">
		        		<tr style="width: 100%">
		        			<td style="vertical-align: top; width:95%">
			        			<p class="list-group-item-text" ng-bind="ticket.message"></p>	
		        				<table class="location-table">
					        		<tr style="width: 100%">
					        			<td>
					        				<p class="list-group-item-text primary-font">Located in</p> 
					        			</td>
					        			<td>
					        				<p class="list-group-item-text primary-font" ng-bind="ticket.location"></p>	
					        			</td>
					        		</tr>
					        	</table>
		        			</td>
		        			<td style="width:5%">
		        				<button class="btn btn-primary" type="button" ng-show="!ticket.claimed" ng-click="claimTicket(ticket)">Claim</button>
					        	<button class="btn btn-primary"solv" type="button" ng-show="ticket.preSolved && ticket.ismine" ng-click="solveTicket(ticket)">Solved</button>
		        			</td>	        			
		        		</tr>
		        	</table>						
					</div>
				</div>				
			</div>
    </div>    
    <div class="col-md-6">	        	
    	<div class="col-md-11">
			<h1>Claimed Tickets</h1>		  
		  <div>	
			  <div ng-repeat="ticket in data.tickets | filter: {claimed: true, solved: false}| orderBy:'-id' " class="ticket-primary">
			    <!-- Renders each ticket to the queue -->
					<!-- 		    <a class="list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}" ng-mouseover = 'showDot(ticket.x, ticket.y)' x = {{ticket.x}} y ={{ticket.y}}> -->
							<table>
		        		<tr>
		        			<td style="vertical-align: top;">
		        				<h5 ng-bind="ticket.user.displayname || ticket.user.username" style="margin-right: 7px;  padding-top:0px; margin-top:0px"></h5>
		        			</td>
		        			<td style="vertical-align: top">
		        				<p style="color:#AFB8BA; padding-top:0px; margin-top:0px" class="list-group-item-text" ng-bind="ticket.createdAt"></p>
		        			</td>
		        		</tr>	        		
		        	</table>	        		        
		        	<table>
		        		<tr style="width: 100%">
		        			<td style="vertical-align: top; width:95%">
			        			<p class="list-group-item-text" ng-bind="ticket.message"></p>	
		        				<table class="claimed-table">
					        		<tr style="width: 100%">
					        			<td>
					        				<p class="list-group-item-text primary-font">Claimed by </p> 
					        			</td>
					        			<td>
					        				<p class="list-group-item-text primary-font"> fellow_name</p>	
					        			</td>
					        		</tr>
					        	</table>
		        			</td>
		        			<td style="width:5%">
					        	<!-- <button class="deleteb" type="button" ng-show="ticket.ismine && !ticket.preSolved" ng-disabled="ticket.claimed" ng-click="solveTicket(ticket)">Delete</button> -->
					        	<button class=" btn btn-primary-inverted" type="button" ng-click='getTicket(ticket)'">Chat</button>	       		
		        			</td>	        			
		        		</tr>
		        	</table>
			   	</a>
			  </div>
			</div>
			<div class="col-md-1"></div>
		</div>
    </div>	
    
      <!-- end body content row -->
  </div>
	<footer style="margin-top:50px"">
		<center>
			<p>&copy; 2016 Made with  &hearts; at Makersquare | BeaconDev</p>
		</center>
	</footer>

</div>
